@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.5;
  }
}

.animate-gradient {
  animation: gradient 3s ease-in-out infinite;
}
